ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
}

li {
    border: 1px solid black;
    text-decoration: none;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    background-color: #e8f4ff;
}
li:hover{
    background-color: #96cfff;
}

nav {
    background-color: #111a35;
    margin-top: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    outline: none;
}
a:visited {
    color: #5ca2db
}

a:active {
    color: #96cfff;
}

header {
    text-align: center;
    background-color: #e2e2e2;
}

img {
    width: 32%;
    padding-left: 0.8%;
}

main {
    margin: 5% 5%;  
    background-color: #e2e2e2;
    /* border: 1px solid grey;
    padding: 15px; */
}

footer {
    margin: 5% 5%;
    background-color: #111a35;
    color: white;
    padding: 15px;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: large;
}

